<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="jumbotron text-center">
    <h1>Learning</h1>
    <h3></h3>
    <p>A classroom and online based training for Developers,Quality Engineers to enhance their skills on QA,UI,Java,Cloud,.Net,Agile tech</p>

    <a ui-sref=".instructors" class="btn btn-primary">Instructors</a>
    <a ui-sref=".courses" class="btn btn-primary">Courses</a>
    <a ui-sref=".students" class="btn btn-primary">Students</a>
</div>
<div ui-view></div>
<!--<div class="row">

    &lt;!&ndash; COLUMN ONE NAMED VIEW &ndash;&gt;
    <div class="col-sm-6">
        <div ui-view="columnOne"></div>
    </div>

    &lt;!&ndash; COLUMN TWO NAMED VIEW &ndash;&gt;
    <div class="col-sm-6">
        <div ui-view="columnTwo"></div>
    </div>


</div>-->

</body>
</html>